<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <div class="center">
            <img src="{{setInfo[0].logo}}" class="logo">
            <a href="/home" class="index">首页</a>
            <form action="/search" method="POST">
                <input type="text" name="seacon" placeholder="搜索内容">
                <i class="iconfont icon-sousuo1"></i>
            </form>
            {{if islogin === 'success'}}
            <div class="avatars">
                <div class="top">
                    <img src="{{userData.avatar}}">
                </div>
                <div class="bot" style="z-index: 100;">
                    <a href="/mycenter">个人主页</a>
                    <a id="exit">退出</a>
                </div>
            </div>
            {{else}}
            <div class="logreg">
                <a href="/login">登录</a>
                <a href="/register">注册</a>
            </div>
            {{/if}}
            <a href="/article/add" id="addArt" class="r">
                <i class="iconfont icon-bianjibijishishouxie"></i>
                写文章
            </a>
        </div>
    </div>
    <script>
        $(function(){
            $("#exit").click(function () {
                $.ajax({
                    url: "/login/exit",
                    type: "get",
                    dataType: "json",
                    success: function (res) {
                        if(res.code === 5007){
                            layer.msg(res.msg, {
                                offset: 't',
                                anim: 0
                            })
                            setTimeout(()=>{
                                location.href = "/login"
                            },1000)
                        }
                    },
                    error: function (err) {
                        console.log('错误信息:' + err)
                    }
                })
            })
        })
    </script>
</body>
</html>
