<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发表文章</title>
    <link rel="stylesheet" type="text/css" href="/css/simditor.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/module.js"></script>
    <script type="text/javascript" src="/js/hotkeys.js"></script>
    <script type="text/javascript" src="/js/uploader.js"></script>
    <script type="text/javascript" src="/js/simditor.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/bihu/css/iconfont.css">
    <link rel="stylesheet" href="/bihu/css/addarticle.css">
</head>
<body>
    {{include './common/header.html' $islogin,$userData}}
    <div class="container">
        <form action="/article/addcheck" method="POST" enctype="multipart/form-data">
            <input type="text" class="title" placeholder="标题" name="title">
            <textarea id="editor" placeholder="请输入文章内容" autofocus name="content"></textarea>
            <script>
                var editor = new Simditor({
                    textarea: $('#editor')
                });
            </script>
            <br/>
            <input type="file" value="请上传缩略图" name="img_url">
            <br/>
            <input type="submit" value="发表">
        </form>
    </div>
    {{include './common/footer.html'}}
</body>
</html>