<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>编辑文章</title>
    <link rel="stylesheet" type="text/css" href="/css/simditor.css" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/module.js"></script>
    <script type="text/javascript" src="/js/hotkeys.js"></script>
    <script type="text/javascript" src="/js/uploader.js"></script>
    <script type="text/javascript" src="/js/simditor.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/addarticle.css">
</head>
<body>
    {{include './common/header.html' $islogin,$userData,$setInfo}}
    <div class="container">
        <div>
            <input type="hidden" value="{{@artRes._id}}">
            <input type="text" class="title" placeholder="标题" id="title" value="{{artRes.title}}">
            <textarea id="editor" placeholder="请输入文章内容" autofocus name="content">{{artRes.content}}</textarea>
            <script>
                var editor = new Simditor({
                    textarea: $('#editor')
                });
            </script>
            <input type="button" id="btn" value="编辑">
        </div>
    </div>
    {{include './common/footer.html' $setInfo}}
    <script>
        var aid = "{{@artRes._id}}"
        $(function () {
            $("#btn").click(function () {
                var title = $("#title").val()
                var content = $("#editor").val()
                console.log(title,content,aid)
                if (!title || !content) {
                    layer.msg('标题或内容不能为空', {
                        offset: '100px',
                        anim: 6
                    })
                    return
                }
                $.ajax({
                    url: "/article/editcheck",
                    type: "post",
                    data: {
                        aid,
                        title,
                        content
                    },
                    dataType: "json",
                    success: function (res) {
                        console.log(res)
                        if(res.data.result.nModified > 0){
                            location.href = "/mycenter"
                        }else if(res.data.result.nModified === 0){
                            layer.msg("你未进行编辑操作", {
                                offset: '100px',
                                anim: 6
                            })
                        }else{
                            layer.msg("编辑失败,参数是否传入错误", {
                                offset: '100px',
                                anim: 6
                            })
                        }
                    },
                    error: function (err) {
                        console.log('错误信息:' + err)
                    }
                })
            })
        })
    </script>
</body>
</html>