<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>仿币乎</title>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/iconfont.css">
</head>

<body> 
    {{include './common/header.html' $islogin,$userData}}    
    <div class="container">
        <div class="leftmenu">
            <a>最新文章</a>
            <a>最火文章</a>
            <a>精文推荐</a>
        </div>
        <div class="r">
            <ul>
                {{each Paginator.list}}
                <li>
                    <div class="top">
                        <img src="{{$value.uid.avatar}}" alt="">
                        <p>{{$value.uid.name}}</p>
                        <p>{{$value.at}}</p>
                    </div>
                    <img src="{{$value.imgUrl}}">
                    <h3><a href="/article/details/{{$value.id}}">{{$value.title}}</a></h3>
                    <p class="desc">{{$value.content}}</p>
                    <p class="bot">
                        <i class="iconfont icon-zan"></i>
                        6666
                    </p>
                </li>
                {{/each}}
            </ul>
            
            <div class="pagelist">
                {{each Paginator.pnatorarr}}
                    {{if $value == Paginator.currentPage}}
                    <span>{{$value}}</span>
                    {{else}}
                    <a href="/home?curpage={{$value}}">{{$value}}</a>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    {{include './common/footer.html'}}
</body>
</html>