<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/reg.css">
</head>

<body>
    {{include './common/header.html' $setInfo}}
    <div class="container">
        <h1>登录</h1>
        <div class="l">
            <input type="text" placeholder="请输入账号" id="name">
            <input type="password" placeholder="请输入密码" id="password">
            <input type="button" id="btn" value="登录">
        </div>
        <div class="r">
            <p>还不是本站的用户？</p>
            <p>马上注册，掌握一手资讯。</p>
            <br>
            <p><a href="/register">免费注册</a></p>
        </div>
    </div>
    {{include './common/footer.html' $setInfo}}
    <script>
        $(function () {
            $("#btn").click(function () {
                var name = $("#name").val()
                var password = $("#password").val()
                if (!name || !password) {
                    layer.msg('用户名或者密码或者验证码不能为空', {
                        offset: '100px',
                        anim: 6
                    })
                    return
                }
                $.ajax({
                    url: "/login/check",
                    type: "post",
                    data: {
                        name: name,
                        password: password
                    },
                    dataType: "json",
                    success: function (res) {
                        if (res.code === 5008) {
                            layer.msg(res.msg, {
                                offset: '100px',
                                anim: 6
                            })
                        } else {
                            location.href = "/home"
                        }
                    },
                    error: function (err) {
                        console.log('错误信息:' + err)
                    }
                })
            })
        })
    </script>
</body>

</html>