<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="/js/layer/layer.js"></script>
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/mycenter.css">
    <script>
        function del(aid) {
            layer.confirm('你确定要删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {              
                $.ajax({
                    url:"/article/remove/"+aid,
                    method:"get",
                    success: function(result){
                        if(result.data.res.deletedCount > 0){
                            location.reload()
                        }else{
                            layer.msg(result.data.msg, {
                                icon: 2
                            })
                        }
                    } 
                })
            }, function () {
                layer.msg('已取消', {
                    icon: 1
                })
            })
        }
    </script>
</head>

<body>
    {{include './common/header.html' $islogin,$userData,$setInfo}}
    <div class="container">
        <div class="top">
            <div class="user">
                <img src="{{userData.avatar}}">
                <p>{{userData.name}}</p>
            </div>
            <div class="tabtitle">
                <p class='cur'>文章({{arts.length}})</p>
                <p>收藏({{collarts.length}})</p>
                <p>资料设置</p>
            </div>
        </div>
        <div class="tab">
            <div class="articles" style="display:block;">
                {{if arts.length == 0}}
                你还没发布过文章,快去发布一篇文章吧
                {{else}}
                <ul>
                    {{each arts}}
                    <li>
                        <a href="/article/details/{{$value.id}}" class="title">{{$value.title}}</a>
                        <div class="r">
                            <a href="/article/edit/{{$value.id}}" class="btn edit">编辑</a>
                            <a href="javascript:void(0)" class="btn del" onclick="del('{{$value.id}}')">删除</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
            <div class="collections">
                {{if collarts.length == 0}}
                <div class="blank">
                        你还没收藏过文章,快去收藏一篇文章吧
                </div>
                
                {{else}}
                <ul>
                    {{each collarts}}
                    <li>
                        <img src="{{$value.imgUrl}}">
                        <h3><a href="/article/details/{{$value.id}}">{{$value.title}}</a></h3>
                        <p class="desc">{{$value.content}}</p>
                        <p class="bot">
                            <i class="iconfont icon-zan"></i>
                            6666
                        </p>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
            <div class="userinfo" style="display:none;">
                <div id="Form">
                    <table>
                        <tr>
                            <td>用户名:</td>
                            <td><input type="text" name="name" readonly value="{{userData.name}}" class="inpsty"></td>
                        </tr>
                        <tr>
                            <td>密码:</td>
                            <td><input type="password" id="password" class="inpsty"></td>
                        </tr>
                    </table>
                    <input type="button" id="btn" value="更新个人资料">
                </div>
            </div>
        </div>
    </div>
    <script src="/js/mycenter.js"></script>
    {{include './common/footer.html' $setInfo}}
    <script>
    
    $(function () {
            $("#btn").click(function () {
                var password = $("#password").val()
                if (!password) {
                    layer.msg('密码不能为空', {
                        offset: '100px',
                        anim: 6
                    })
                    return
                }
                $.ajax({
                    url: "/mycenter/edit",
                    type: "post",
                    data: {
                        password
                    },
                    dataType: "json",
                    success: function (res) {
                        if(res.data.result.nModified > 0){
                            location.href = "/login"
                        }else{
                            layer.msg('编辑信息失败', {
                                offset: '100px',
                                anim: 6
                            })
                        }
                    },
                    error: function (err) {
                        console.log('错误信息:' + err)
                    }
                })
            })
        })
    </script>
</body>

</html>