<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <script src="{{__HOST__}}/default/bihu/js/jquery-1.11.3.min.js"></script>
    <script src="{{__HOST__}}/default/bihu//js/layer/layer.js"></script>
    <link rel="stylesheet" href="{{__HOST__}}/default/bihu/css/iconfont.css">
    <link rel="stylesheet" href="{{__HOST__}}/default/bihu/css/page.css">
    <script src="{{__HOST__}}/default/bihu/js/page.js"></script>
</head>

<body>
    {{include './common/header.html' $islogin,$headportait}}
    <div class="container">
        <h1>{{data.title}}</h1>
        <div class="user">
            <img src="{{__HOST__}}/{{data.uid.headportait}}" alt="">
            <p>{{data.uid.uname}}</p>
            <p>{{data.at}}</p>
        </div>
        <div class="content">
            {{@data.content}}
        </div>
        <div class="star {{iscollection}}">
            <i class="iconfont icon-star"></i>
            <p><span>已 </span>收 藏</p>
        </div>
        <script>
            var aid = "{{aid}}";
        </script>
    </div>
    {{include './common/footer.html'}}
</body>

</html>