<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/layui/layui.all.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/reg.css">
</head>

<body>
    {{include './common/header.html' $setInfo}}
    <div class="container">
        <h1>注册</h1>
        <div class="l">
            <input type="text" placeholder="请输入用户名" id="name">
            <input type="password" placeholder="请输入密码" id="password">
            <input type="button" id="btn" value="注册">
        </div>
        <div class="r">
            <p>请妥善保存您本站的账号及登录密码</p>
            <p>请勿和其他网站使用相同的登录密码</p>
            <br>
            <p>已有账号？去 <a href="/login">登录</a></p>
        </div>
    </div>
    {{include './common/footer.html' $setInfo}}
    <script>
        $(function () {
            $("#btn").click(function () {
                var name = $("#name").val()
                var password = $("#password").val()
                if (!name || !password) {
                    layer.msg('用户名或者密码或者验证码不能为空', {
                        offset: '100px',
                        anim: 6
                    })
                    return
                }
                $.ajax({
                    url: "/register/check",
                    type: "post",
                    data: {
                        name: name,
                        password: password
                    },
                    dataType: "json",
                    success: function (res) {
                        if (res.code === 5005) {
                            layer.msg(res.msg, {
                                offset: '100px',
                                anim: 6
                            })
                        } else {
                            location.href = "/login"
                        }
                    },
                    error: function (err) {
                        console.log('错误信息:' + err)
                    }
                })
            })
        })
    </script>
</body>

</html>